doi2clip.egg-info/dependency_links.txt
doi2clip.egg-info/entry_points.txt
doi2clip.egg-info/PKG-INFO
doi2clip.egg-info/SOURCES.txt
doi2clip.egg-info/top_level.txt
__pycache__/doi2clip.cpython-313.pyc
